<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./header')%>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css"  href="/public/build/css/<%= pageType %>.bundle.css">
</head>
<body>
	<div id="container"></div>
    <!-- Main -->
    <script src="/public/build/<%= pageType %>.js"></script>
</body>
  
</html>