<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./header')%>
    <title><%= title %></title>
    <!-- <script src="/public/build/lib/react.profiling.min.js"></script>
	<script src="/public/build/lib/react-dom.profiling.min.js"></script>
	<script src="/public/build/lib/react-router-dom.min.js"></script> -->
	<script src="/public/build/lib/vendor.js"></script>
    <script src="/public/build/lib/commons.js"></script>
    <link rel="stylesheet" type="text/css"  href="/public/build/<%= pageType %>/index.bundle.css">
</head>
<body>
	<div id="container"></div>
    <!-- Main -->
    <script src="/public/build/<%= pageType %>/index.js"></script>
</body>
  
</html>